section.border-bottom.mb-4.sticky-top.menu.border-top
  .container.bg-white
    .row.no-gutters
      .col-lg-12
        nav.navbar.navbar-expand-lg
          button.navbar-toggler.btn.toggler-primary(type='button' data-bs-toggle='collapse' data-bs-target='#main_nav' aria-controls='main_nav' aria-expanded='false' aria-label='Toggle navigation')
            svg.bi(viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')
          #main_nav.collapse.navbar-collapse
            .category-wrap.dropdown.py-2.d-none.d-lg-block
              a.w-100.btn.btn-primary.dropdown-toggle(href='#' aria-expanded='false' role="button" id="cats" data-bs-toggle="dropdown" )
                i.fa.fa-bars
                |  Categories
              .dropdown-menu.w-100(x-placement='bottom-start' aria-labelledby="cats")
                a.dropdown-item(href='#') Machinery
                a.dropdown-item(href='#') Home Appliances
                a.dropdown-item(href='#') Transportation
                a.dropdown-item(href='#') Apparel
                a.dropdown-item(href='#') Home & Garden
                a.dropdown-item(href='#') Health
            ul.navbar-nav
              li.nav-item.d-block.d-lg-none
                  a.nav-link(
                    href='#Categories',
                    aria-expanded="false",
                    data-bs-toggle="collapse",
                    role="button") Categories
                    i.fas.fa-caret-down.ms-1
                  #Categories.collapse.small
                    .card
                      ul.list-group.list-group-flush
                        li.nav-item.list-group-item
                          a.nav-link(href='#') Machinery
                        li.nav-item.list-group-item
                          a.nav-link(href='#') Home Appliances
                        li.nav-item.list-group-item
                          a.nav-link(href='#') Transportation
                        li.nav-item.list-group-item
                          a.nav-link(href='#') Apparel
              li.nav-item
                a.nav-link(href='#')  Home
              li.nav-item
                a.nav-link(href='#') New arrival
              li.nav-item
                a.nav-link(href='#') Populars
              li.nav-item
                a.nav-link(href='#') Deals
              li.nav-item
                a.nav-link(href='#') Last viewed
              li.nav-item.d-block.d-lg-none
                  a.nav-link(
                    href='#langue',
                    aria-expanded="false",
                    data-bs-toggle="collapse",
                    role="button") Langue
                    i.fas.fa-caret-down.ms-1
                  #langue.collapse.small.langue
                    .card
                      ul.list-group.list-group-flush
                        li.nav-item.list-group-item
                          a.nav-link(href='#') français
                        li.nav-item.list-group-item
                          a.nav-link(href='#') Arabic
              li.nav-item.d-block.d-lg-none
                hr.bg-primary
              li.nav-item.d-flex.justify-content-around.d-block.d-lg-none
                a(href='#')
                  i.fa.fa-phone
                  |  020 2366 455
                a(href='#')
                  i.fa.fa-envelope
                  |  contact@email.com
          .widgets-wrap.float-end.showSticky
            .widget-header.d-sm-none.d-lg-block.searchBox
              .input-group
                input.form-control.input-search(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='button-addon2')
                button.btn.p-0.search-btn(type='button')

                  i.icon-sm.round.fas.fa-search
            a.widget-header.mr-3(href='#')
              .icontext
                .icon-wrap
                  i.icon-sm.round.border.fa.fa-shopping-cart
                .text-wrap.badge-tag
                  span.small.badge.rounded-pill.bg-danger 0
            a.widget-header.mr-3(href='#')
              .icontext
                .icon-wrap
                  i.icon-sm.round.border.fa.fa-heart
                .text-wrap.badge-tag
                  span.small.badge.rounded-pill.bg-danger 0
            .widget-header.dropstart.drodown-connect
              a.dropdown-toggle(href='#' data-bs-toggle='dropdown'  aria-expanded='false' data-offset="10,20")
                .icontext
                  .icon-wrap
                    i.icon-sm.round.border.fa.fa-user
              .dropdown-menu.conect.dropdown-menu-right.border-0.p-0(
                  x-placement='bottom-end')
                include ../elements/card-connection
          // collapse .//
          // col.//
          // row.//
          // container .//
